.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
body{
    color: white;
}
p {
 font-size: 1em;
}
h1{
	font-size: 5em;
}
h2{
    font-size: 3em;
}
.section{
    font-family: arial,helvetica;
	text-align:center;
}

.code{
    font-family: monospace;
}
/* Menu
 * --------------------------------------- */
 #menu{
	position:fixed;
	top:0;
	left:0;
	height: 0px;
	z-index: 100;
	width: 100%;
	padding: 0;
	margin:0;
}
#menu li {
	display:inline-block;
	margin: 5px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px; 
            border-radius: 10px; 
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #000;
    font-family: arial,helvetica;
}
#menu li.active a:hover{
	color: #000;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}

/* Navigation
 * --------------------------------------- */
#fullPage-nav{
	position: absolute;
	z-index: 100;
	margin-top: -32px;
	top: 50%;
	opacity: 1;
}
#fullPage-nav li{
	display: block;
	width: 14px;
	height: 13px;
	margin: 7px;
}
#fullPage-nav li a{
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
}
#fullPage-nav li .active span{
	background: #333;
}
#fullPage-nav span{
	top: 2px;
	left: 2px;
	width: 8px;
	height: 8px;
	border: 1px solid #000;
	background: rgba(0, 0, 0, 0);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	position: absolute;
	z-index: 1;
}